@charset "utf-8";
/* CSS Document */
#header {
	background-color: coral;
	height: 600px;
	color: white;
	text-shadow: 3px 3px 3px black;
	background-image: url("images/img-22.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
}
h1 {
	text-align: center;
	color: white;
	padding: 100px 20px 20px 20px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
nav {
	text-align: center;
	background-color: burlywood;
    padding: 0px;
    margin: 0px;
    line-height: 40px;
    height: 60px;
}
nav ul {
	color: white;
	text-decoration: none;
	list-style-type: none;
}
nav li {
	display: inline-block;
	padding: 10px;
}
nav a {
	font-size: 24pt;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin: 5px;
	padding: 15px 15px 15px 15px;
	border-radius: 3px;
	text-decoration: none;
	color: white;
}
nav a:link {
	color: white;	
}
nav a:hover {
	text-decoration: none;
	list-style-type: none;
	background-color: brown;	
}
nav a:active {
	color: rosybrown;	
}
nav a:visited {
	color: grey;
	background-color: blue;
}
body {
	background-color: antiquewhite;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
i {
  color: black;
}
footer {
    margin: 25px auto 50px;
	margin-top: 25px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    width: 100%;
}
.intro {
    text-align: center;
    width: 400px;
    position: relative;
    margin: 10px auto;
    border-style: solid;
    border-color: burlywood;
    padding: 20px 40px;
    border-radius: 15px;
    color: #461C08;   
}
.intro li {
    text-decoration: none;
	list-style-type: none;
}
.petgallery {
    text-align: center;
    width: 400px;
    position: relative;
    margin: 10px auto;
    border-style: solid;
    border-color: burlywood;
    padding: 20px 40px;
    border-radius: 15px;
    color: #461C08;  
}
.localhours {
    text-align: center;
    width: 400px;
    position: relative;
    margin: 10px auto;
    border-style: solid;
    border-color: burlywood;
    padding: 20px 40px;
    border-radius: 15px;
    color: #461C08; 
}
.icons {
	font-size: 36pt;
	text-align: center;
	min-width: 300px;
    max-width: 300px;
    margin: auto;
}
.hours {
    min-width: 300px;
    width: 300px;
    margin: auto;
    text-align: center;
}
.contact{
	margin: auto;
    text-align: center;
    min-width: 300px;
    width: 300px;
}
.container-fluid div .images {
    text-align: center;   
}
.col-lg-4 {
	padding-top: 35px;
	border-radius: 10px;
	padding-bottom: 35px;
}
.col-lg-6 {
	text-align: right;
	padding: 20px 0px;
}
.container-fluid {
	text-align: left;	
}
.container-fluid p{
	max-width: 500px;
}
.container-fluid hr{
	width: 500px;
	text-align: left;
	margin-left: 0px;
}
.middleabout {
	text-align: center;
}
.about {
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.xtralclhrs {
    position: absolute;
    right: 100px;
    width: 400px;
    text-align: left; 
}
#googleMap {
	width: 600px;
	height:600px;
	margin-left: 0px;
	padding: 10px;
	border-style: solid;
    border-color: burlywood;
    border-radius: 15px;
}
@media only screen and (max-width: 1600px) {
    .contact {
        text-align: right;
    }
}
@media only screen and (max-width: 1024px){ 
   nav {
        display: inline-block;
		width: auto;
		padding: 0.5em;   
	}
    nav a {
        margin: auto;
    }
	nav li { 
        font-size: 12px;
	}
    .contact {
        position: relative;    
        top: 0px;
        right: 0px;
    }
    .icons {
        position: relative;
        text-align: center;  
        top: 0px;
        right: 0px;
    }
    .hours {
        position: relative; 
        top:30px;
        text-align: left;
        right: 0px;
    }
    .xtralclhrs {
        position: relative;
        top: 0px;
        left: 0px;
        width: 300px;
        margin: 0px auto;
    }
    .col-lg-6 {
        text-align: center;
        margin: auto;
}
    div .container-fluid p {
         margin: auto;
    }
    div .container-fluid h3 {
        text-align: center;
    }
    #googleMap {
        position: relative;
        height: 300px;
        width: 300px;
        top:0px; 
        right: 0px;
        margin: 0px auto;
    }
}
@media only screen and (max-width: 768px){
    nav {
		padding: 0px;
        margin: 0px;
        height: 50px;
        line-height: 45px;
	}
	nav ul{
		margin: auto;
		padding: 0px;
	}
	nav li {
		display: inline-block;
		margin: 0px;
		padding: 0px 10px;
	}
	nav a {
		display: block;
		padding: 3px;
        margin-bottom: 10px;
		font-size: 14pt;
	}
    #header {
        display: none;
    }
    #googleMap {
        display: none;
    }
    .hours {
        
    }
    .contact {
        
    }
    .icons {
    }
 
}
 